p{
  margin-top: 0;
  margin-bottom: 0;
}
body{
  font-family: Roboto, Arial;
  /*Comments*/
  background-color: rgb(239, 239, 239);
  height: 3000px;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  margin: 0;
}